{# src/AppBundle/Resources/views/viewcontribution.html.twig #}

{% extends "@App/addlayout.html.twig" %}

{% block title %}
  {{ parent() }} 
{% endblock %}

{% block addgeology_body %}
	<Table width="100%" class="table_edit" >
		<TR>
			<th class="title_table_edit" width="100%" colspan=4>
				Contributions
			</th>
		</TR>
		<TR>
			<TD>
				<label for="inp_ContributionID">Contribution: </label>
				{{dcontribution.idcontribution}}
			</TD>
			<TD>
				<label for="inp_ContributionType">Type: </label>
				{{dcontribution.datetype}}
			</TD>
			<TD>
				<label for="inp_ContributionDate">Date: </label>
				{% if (dcontribution.date|length > 0) %} 
					{{dcontribution.date|date('d-m-Y')}}
				{% endif %}
			</TD>
			<TD>
				<label for="inp_ContributionYear">Year: </label>
				{{dcontribution.year}}
			</TD>
		</TR>
		<TR>
			<TD colspan=4>
				{% set i=0 %}
				<BR/>
				{% if arraycontributors is defined  %}
					<Table class="contributorTitle newLine table_results2" >
						<TR>
							<TH width="5%" class="border_bottom title_table_view">
								<label for="inp_contribID" class="labelsview">ID </label>
							</TH>
							<TH width="20%" class="border_bottom title_table_view">
								<label for="inp_ContribName" class="labelsview">Name </label>
							</TH>
							<TH width="10%" class="border_bottom title_table_view">
								<label for="inp_ContribRole" class="labelsview">Role </label>
							</TH>
							<TH width="5%" class="border_bottom title_table_view">
								<label for="inp_ContribOrder" class="labelsview">Order</label>
							</TH>
							<TH width="20%" class="border_bottom title_table_view">
								<label for="inp_ContribName" class="labelsview">Function </label>
							</TH>
							<TH width="5%" class="border_bottom title_table_view">
								<label for="inp_ContribName" class="labelsview">Title </label>
							</TH>
							<TH width="5%" class="border_bottom title_table_view">
								<label for="inp_ContribName" class="labelsview">Statut </label>
							</TH>
							<TH width="20%" class="border_bottom title_table_view" colspan="2">
								<label for="inp_ContribInstitute" class="labelsview">Institute </label>
							</TH>
						</TR>
						
						{% if arraycontributors|length >= 1 %}
							{% for arraycontributor in arraycontributors %}
									{% for arraycontributor_item in arraycontributor %}
										<TR id="Contributor{{i}}">
											<TD>
												{{arraycontributor_item.idcontributor}}
											</TD>
											<TD>
												{{arraycontributor_item.people}}
											</TD>
											<TD>
												{{ roles[i+1] }}
											</TD>
											<TD>
												{{ orders[i+1] }}
											</TD>
											<TD>
												{{arraycontributor_item.peoplefonction}}
											</TD>
											<TD>
												{{arraycontributor_item.peopletitre}}
											</TD>
											<TD>
												{{arraycontributor_item.peoplestatut}}
											</TD>
											<TD>
												{{arraycontributor_item.institut}}
											</TD>
										</TR>
										{% set i=i+1%}	
									{% endfor %}
							{% endfor %}
						{% endif %}								

					</Table>	
				{% else %}
					<div class="nocontrib">
						No contributor
					</div>									
				{% endif %}											
			</TD>
		</TR>		
		<TR>
			<TD>
				<BR/>
				<input type="button" onclick="editcontribution()" value="Edit contribution" onmouseover="" style="cursor: pointer;">
				<div class="alert_message"></div>
			</TD>
		</TR>	
	</Table>
	
	<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
	<script type="text/javascript">
		function editcontribution() {
			var url = '{{ path("app_edit_contribution", {'pk': 'article_id'}) }}'; 
			url = url.replace("article_id", "{{dcontribution.pk}}");
			window.location = url;
		}
	</script>	
{% endblock %}